
doctype html
html
  head
    block meta
      meta(title="Next Generation Underwriters")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="apple-touch-icon", sizes="180x180", href="zackmaddox.com/rap/images/apple-touch-icon.png")
      link(rel="icon", type="image/png", sizes="32x32", href="zackmaddox.com/rap/images/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="192x192", href="zackmaddox.com/rap/images/android-chrome-192x192.png")
      link(rel="icon", type="image/png", sizes="16x16", href="zackmaddox.com/rap/images/favicon-16x16.png")
      link(rel="manifest", href="zackmaddox.com/rap/images/site.webmanifest")
      link(rel="mask-icon", href="zackmaddox.com/rap/images/safari-pinned-tab.svg", color="#5bbad5")
      link(rel="shortcut icon", href="zackmaddox.com/rap/images/favicon.ico")
      meta(name="apple-mobile-web-app-title", content="Rap App")
      meta(name="application-name", content="Rap App")
      meta(name="msapplication-TileColor", content="#e309d3")
      meta(name="msapplication-config", content="zackmaddox.com/rap/images/browserconfig.xml")
      meta(name="theme-color", content="#ffffff")

    block styles
      link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900")
      link(rel="stylesheet" type="text/css" href="styles/compiled.css")

    block scripts
      script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(type="text/javascript" src="scripts/main.js")

  body

    h1 Artists

    .overlay

    .wrapper

      .main
          
        section
        
          .grid
            
            include ../public/includes/panes
