
#artists
  
  .wrapper
      
    a.artist.selected(data-name='kanye' href='#kanye')
      .icon-bio
      img(src='http://assets.aloompa.com.s3.amazonaws.com/rappers/KanyeWest.jpeg' alt='kanye')
      h2 Kanye West
      
      .modal#kanye(data-name='kanye')
        h3 Kanye West
        .bio
          p Kanye Omari West is an American rapper, singer, songwriter, record producer, fashion designer, and entrepreneur.

    a.artist(data-name='drake' href='#drake')
      .icon-bio
      img(src='http://assets.aloompa.com.s3.amazonaws.com/rappers/Drake.jpeg' alt='drake')
      h2 Drake
      
      .modal#drake(data-name='drake')
        h3 Drake
        .bio
          p Aubrey Drake Graham is a Canadian rapper, singer, songwriter, record producer, actor, and entrepreneur. Drake initially gained recognition as an actor on the teen drama television series Degrassi: The Next Generation in the early 2000s.

    a.artist(data-name='kendrick' href='#kendrick')
      .icon-bio
      img(src='http://assets.aloompa.com.s3.amazonaws.com/rappers/Kendrick.jpeg' alt='kendrick')
      h2 Kendrick Lamar
      
      .modal#kendrick(data-name='kendrick')
        h3 Kendrick Lamar
        .bio
          p Kendrick Lamar Duckworth is an American rapper and songwriter. Raised in Compton, California, Lamar embarked on his musical career as a teenager under the stage name K-Dot, releasing a mixtape that garnered local attention and led to his signing with indie record label Top Dawg Entertainment (TDE)

    a.artist(data-name='future' href='#future')
      .icon-bio
      img(src='http://assets.aloompa.com.s3.amazonaws.com/rappers/Future.jpeg' alt='future')
      h2 Future
      
      .modal#future(data-name='future')
        h3 Future
        .bio
          p Nayvadius DeMun Wilburn, known professionally as Future, is an American rapper, singer, songwriter, and record producer.

    a.artist(data-name='jcole' href='#jcole')
      .icon-bio
      img(src='http://assets.aloompa.com.s3.amazonaws.com/rappers/JCole.jpeg' alt='jcole')
      h2 J. Cole
      
      .modal#jcole(data-name='jcole')
        h3 J.Cole
        .bio
          p Jermaine Lamarr Cole, better known by his stage name J. Cole, is an American hip hop recording artist and record producer.
