
.grid
  height: 100vh
  margin: 0 auto
  width: 90vw

h1
  color: $white
  font-size: 4em
  letter-spacing: .25em
  padding: 7vh 0 9vh
  primary-type($thin)
  text-align: center
  text-transform: uppercase

  &:before
    content: '(((((('
    font-size: 1.4em
    vertical-align: bottom

  &:after
    content: '))))))'
    font-size: 1.4em
    vertical-align: bottom

.wrapper
  text-align: center



.artist
  background-color: $blue
  display: inline-block
  width: 15vw
  height: 15vw
  margin: 0 1vw 0
  max-width: 250px
  position: relative
  vertical-align: top

  &:hover

    img
      filter: none
      opacity: 1

    h2
      animation: move 400ms cubic-bezier(.9,.03,.69,.22)
      opacity: 1
      padding-top: 7px

  &.selected

    .icon-bio
      color: $white
      top: 100%

    .bio
      display: block
      margin-top: 100px
      opacity: 1

  &.selected,
  &:hover
    h2
      animation: move 400ms cubic-bezier(.9,.03,.69,.22)
      opacity: 1
      padding-top: 7px

  @media screen and (min-width: 1600px)
    width: 250px
    height: 250px




  .icon-bio
    color: $pink
    font-size: 2em
    left: 10px
    opacity: 1
    position: absolute
    top: 10px
    transition: all 400ms ease

    @media screen and (max-width: 1200px)
      left: 5px
      top: 3px

    &:after
      content: 'BIO'
      font-size: .5em
      margin: 0 0 0 -5px
      primary-type($black)
      vertical-align: bottom


  img
    filter: contrast(200%) grayscale(100%)
    opacity: 0.85
    transition: all 400ms ease
    width: 100%

  h2
    color: $white
    font-size: 2em
    letter-spacing: 2px
    opacity: 0
    padding-top: 0
    position: absolute
    primary-type($medium)
    line-height: 0.9em
    text-align: left
    text-transform: uppercase
    transition: all 400ms ease

    @media screen and (max-width: 1200px)
      font-size: 1.75em

  .bio
    color: $white
    display: none
    font-size: 1em
    letter-spacing: -1px
    opacity: 0
    transition: all 400ms ease
