
.search
  background-color: $dark
  border-bottom-right-radius: 3px
  height: 52px
  left: 0
  position: fixed
  top: 0
  width: 244px
  z-index: 1

.ui-widget
  color: $white
  left: 10px
  position: fixed
  primary-type($medium)
  top: 10px
  width: 100%
  z-index: 1

  #tags
    width: 150px

.ui-menu-item
  background-color: $dark
  padding: 5px
  width: 165px
